In [3]:
import pandas as pd
import pickle
import sys
from tqdm import tqdm
sys.path.append("../")

In [4]:
with open("data_cls.pkl", "rb") as f:
    myData = pickle.load(f)

In [5]:
myData.dataframe

         user_id  item_id  rating   timestamp
0         114054     9785       2  1622536442
1          37815    20556       3  1625851963
2          37525    26403       1  1625615169
3          99414    22976       1  1612191989
4          64325    33853       1  1610484010
...          ...      ...     ...         ...
4669517    24329    29459       1  1613591641
4669518    34136     9782       1  1632695955
4669519    72644    24627       1  1635159773
4669520   105967     6235       1  1590139787
4669521     5829     1050       1  1621714535

[4179268 rows x 4 columns]

In [20]:

test_values = []
for i in tqdm(myData.test_seqs.keys()):
    test_values.append(myData.test_seqs[i][0]) 
unique_test_values = list(set(test_values))

100%|██████████| 115790/115790 [00:00<00:00, 3421310.59it/s]

In [35]:
from tqdm import tqdm
maxValue = myData.dataframe.item_id.value_counts()[:1024].index.tolist()
len(list(set(maxValue) & set(unique_test_values))) / len(unique_test_values)

0.061701614846951074

In [36]:
with open("popular-sample_size1024-seed12345.pkl", "rb") as f:
    ns = pickle.load(f)

In [40]:
myData.num_items

34368

In [41]:
myData.num_users

115790