In [1]:
import pandas as pd
import pickle
import sys
from tqdm import tqdm
sys.path.append("../")

In [2]:
pd.read_pickle("carrefour.pkl")

,id,order_date,item_id,sales_price,quantity,department,store,city,district,user_id,sex,age_group,timestamp
0,22c44b25-53eb-4758-a421-509b68d6c391,2021-06-01 08:34:02,48d7e03d-19ef-41f4-9879-cc14b684fcf5,79,2,c556530b-d0a9-4beb-bc19-7044962f9aa8,cece3286-dae9-4bda-96a8-a1c5c267acd9,db83dcc1-85c9-44f9-a047-426b02e8e1a3,339fb39c-3a2b-45da-b036-8e2d7761c4b3,fc20e5fb-0d22-463b-b127-89fd62b872af,NaN,1.0,1622536442
1,10eed4a6-5b6b-40d9-84fe-e7152666d2d5,2021-07-09 17:32:43,99d32476-f1eb-4af8-a7d9-28ebd8e1ce12,85,3,7ed47ad3-61a2-423c-937b-c23bf4ad05f3,38177bc5-93b3-4b7a-ad27-d6aa162ccc9a,0ced232a-ba28-4238-8411-264c228aa751,de4598ec-8318-4e21-8e0a-510a49853a07,53867ee1-e97b-44c3-810b-cc0de8f49217,NaN,1.0,1625851963
2,b7cf4711-f248-4a12-8bb6-d7a330faac5e,2021-07-06 23:46:09,c54bcaef-b3b9-4601-a5da-8519d33d3b81,89,1,f57143f5-672f-4c78-89f1-242f7a2d8a65,3f6de5e8-3b20-4237-89dc-ee4eff7625a3,08955352-31a8-44ac-8a5e-e13de23db4a2,df5f2a7b-ec52-4505-bd85-26a84438dee0,52eb5d34-a34b-4f29-9d83-e23d48d1e03b,NaN,1.0,1625615169
3,0b16dd32-838f-4948-bd95-916d7b1a0a42,2021-02-01 15:06:29,abad439e-5bc0-4097-82e8-e87f0cb057ff,64,1,f57143f5-672f-4c78-89f1-242f7a2d8a65,68e916ca-f999-4e5a-9c34-f277f9bc2867,8c4f97b5-e3c1-4279-9829-ee56f920c12b,2b9626af-4919-45e4-873b-4a07a9749421,dbf9be47-c8e9-4fee-b92d-727f68afab96,NaN,1.0,1612191989
4,a4998917-ae04-45e4-a5fe-4dc4a1fa4b35,2021-01-12 20:40:10,fc007164-7f6e-4833-9e36-e141c3fb4fe6,75,1,22f2e7c7-6679-41fd-9c1d-6e9562b51bce,025c6e08-592c-4f3d-8a9e-6d6b685fef33,4b52005f-878a-4b2b-95ee-d9e2d719046a,9c10f54e-63e5-4b8f-b720-4d95639db9bf,8e5145fd-9b3e-448d-b22e-a81991161656,NaN,8.0,1610484010
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4669518,9bc23751-cb66-4fab-98c8-af5570e7df27,2021-09-26 22:39:15,48cbc2cc-cd40-4c04-87b5-cdec5eb26df9,45,1,451ffc74-a780-4ae0-adba-ff8caa8f4b91,73869acb-3d56-4375-9ba2-afe2bb3c2bf5,0ced232a-ba28-4238-8411-264c228aa751,9aa7200e-ff9f-42e4-b635-b021e6075b7e,4b6e5c2c-cd3b-49a0-bf24-fef9da331440,NaN,4.0,1632695955
4669519,b7412270-3a16-48ea-99d0-793c28e998bb,2021-10-25 11:02:53,b83e713b-0b84-4209-b0fe-a26d54dd6e37,157,1,fc537967-e742-4916-b487-8dedc17a11f5,73869acb-3d56-4375-9ba2-afe2bb3c2bf5,0ced232a-ba28-4238-8411-264c228aa751,9aa7200e-ff9f-42e4-b635-b021e6075b7e,a0c725d2-52cb-455c-8885-ba7d93de3f4e,NaN,4.0,1635159773
4669520,11569fb6-9fb6-4629-8219-d1a2832a55d6,2020-05-22 09:29:47,2e8b9e38-1692-409d-b309-69940aaf9718,81,1,f57143f5-672f-4c78-89f1-242f7a2d8a65,73869acb-3d56-4375-9ba2-afe2bb3c2bf5,0ced232a-ba28-4238-8411-264c228aa751,9aa7200e-ff9f-42e4-b635-b021e6075b7e,ea49b28e-9823-4bf5-bb32-de66e011adcc,NaN,4.0,1590139787
4669521,c8a997f3-8708-4468-996d-c43d6edc3a03,2021-05-22 20:15:35,081e2229-e1e9-49a7-bffd-8ab6c7c15048,43,1,451ffc74-a780-4ae0-adba-ff8caa8f4b91,73869acb-3d56-4375-9ba2-afe2bb3c2bf5,0ced232a-ba28-4238-8411-264c228aa751,9aa7200e-ff9f-42e4-b635-b021e6075b7e,0d38dd41-074c-4272-b8c1-80842ce8eff0,NaN,4.0,1621714535
4669522,a01b5ca9-b69e-4f23-aa1b-500f58c35ab3,2020-11-15 21:24:04,ef6bf988-b8a9-4658-8930-e5c374f05fe4,654,1,fc537967-e742-4916-b487-8dedc17a11f5,73869acb-3d56-4375-9ba2-afe2bb3c2bf5,0ced232a-ba,NaN,NaN,NaN,NaN,1605475444

In [3]:
with open("data_cls.pkl", "rb") as f:
    myData = pickle.load(f)

ModuleNotFoundError: No module named 'src.dataset'

In [5]:
myData.dataframe

         user_id  item_id  rating   timestamp
0         114054     9785       2  1622536442
1          37815    20556       3  1625851963
2          37525    26403       1  1625615169
3          99414    22976       1  1612191989
4          64325    33853       1  1610484010
...          ...      ...     ...         ...
4669517    24329    29459       1  1613591641
4669518    34136     9782       1  1632695955
4669519    72644    24627       1  1635159773
4669520   105967     6235       1  1590139787
4669521     5829     1050       1  1621714535

[4179268 rows x 4 columns]

In [20]:

test_values = []
for i in tqdm(myData.test_seqs.keys()):
    test_values.append(myData.test_seqs[i][0]) 
unique_test_values = list(set(test_values))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 115790/115790 [00:00<00:00, 3421310.59it/s]

In [35]:
from tqdm import tqdm
maxValue = myData.dataframe.item_id.value_counts()[:1024].index.tolist()
len(list(set(maxValue) & set(unique_test_values))) / len(unique_test_values)

0.061701614846951074

In [36]:
with open("popular-sample_size1024-seed12345.pkl", "rb") as f:
    ns = pickle.load(f)

In [40]:
myData.num_items

34368

In [41]:
myData.num_users

115790